.listOfGames {
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
.listOfGames .videogameCart {
    display: inline-block;
    justify-items: center;
}
.title {
    padding-left: 4%;
}